extends ../layout
block head
    title 创建TMS页面
    link(rel="stylesheet",href="/reset.css")
    link(rel="stylesheet",href="/create/index.css")
block content
    h1 创建
    form(action="/create/save",method="post",name="create")#create
        table
            tr
                th 页面地址
                td
                    input(type="text",name="name")
            tr
                th 类型
                td
                    label(for="page")
                        input#page(type="radio",name="type",value="page",checked)
                        | 页面
                    label(for="block") 区块
                        input#block(type="radio",name="type",value="block")
                        | 区块
                    label(for="table")
                        input#table(type="radio",name="type",value="table") 数据源
                        | 二维表
            tr
                th 源代码
                td
                    textarea(name="source")
            tr
                th
                td
                    input(type="submit") 提交
