#create {
    margin: 1em;
}

#create table {
    width: 100%;
}

#create table th,
#create table td {
    padding: 1em;
    border: solid 1px #eee;;
}

#create table th {
    width: 80px;
    text-align: right;
}

#create table input[name="name"] {
    width: 80%;
    font-size: 22px;
    padding: .3em;
}

#create table textarea {
    height: 400px;
    display: block;
    width: 100%;
    font-size: 14px;
}